.video {
  margin-top: 10vh;
  padding: 0 6.25em;

  &__videoGrid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-gap: 20px;
    grid-auto-flow: dense;
    &__videoCard {
      min-height: 500px;
      &__textContent {
        padding: 20px 20px;
        > h2 {
          margin-bottom: 10px;
        }
        > h4 {
          margin-top: 1em;
        }
      }
    }
  }
}
