.panoramas {
  padding: 0 6.25em;
  margin-top: 12vh;
  margin-bottom: 2vh;
  > div {
    margin-bottom: 2em;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__divider {
    height: 2px;
    width: 300px;
    margin: 0 auto;
    background-color: black;
  }
}
@media (max-width: 1021px) {
  .panoramas {
    padding: 0 1em;
    margin-top: 10vh;
    > div {
      margin: 0 auto;
    }
  }
}
