@import '../../styles/global.scss';
.testfooter {
  width: 100vw;
  height: 20vh;
  background-color: blue;
}

.footer__container {
  background-color: darken($color: $primary, $amount: 20);
  width: 100%;
  height: 15vh;
  margin-top: 3.3vh;
}
@media (min-width: 1022px) {
  .footer__container {
    margin-top: 0;
  }
}
